body {
font-family: 'Raleway', sans-serif;
}

header {
  background-color: rgb(243, 233, 240);
}

.logo {
  height: 70px;
}

a:hover {
  font-weight: 600;
  text-decoration: none;
}

h1 {
  font-family: 'Mali', cursive;
  text-align: center;
  padding-top: 4rem;
  padding-bottom: 2rem;
}

h2 {
  font-family: 'Mali', cursive;;
  font-size: 1rem;
}

footer {
  background-color: rgb(230, 230, 230);
  margin-top: 5rem;
  padding: 1rem 0;
}

/* ------------------------------ CARD TEDDIES INDEX.HTML ------------------------------ */

.Teddies-card {
  margin: 4rem 5rem 0 5rem;
  display: flex;
  justify-content: space-around;
}

#template-card {
  color: black;
  border: 1px solid rgb(219, 219, 219);
  padding: 0;
}

#template-card:hover {
  text-decoration: none;
  font-weight: normal;
  border: 2px solid rgb(197, 196, 196);
}

.photo_index {
  width: 100%;
  height: 15rem;
  object-fit: cover;
  margin-bottom: 1rem;
}

.description_index {
  width: 90%;
  padding: 1rem 0;
  margin: auto;
}

.price_index {
  color: rgb(194, 155, 182);;
  font-weight: bold;
  font-size: 1.2rem;
}

/* ------------------------------ CARD TEDDIES PRODUCT.HTML ----------------------------- */

#template-card_product {
  display: flex;
  margin: auto;
  max-width: 1440px;
  height: auto;
  margin-top: 10rem;
}

.bloc_text_product {
  display: flex;
  flex-direction: column;
}

.photo_product {
  width: 500px;
  height: auto;
  object-fit: cover;
  margin-right: 5rem;
}

.title_product {
  text-align: left;
  margin-bottom: 3rem;
  padding: 0;
}

.Teddies-colors {
  width: 200px;
  margin-bottom: 2rem;
}

#Teddy-quantity {
  width: 200px;
}


#btn-add-basket {
  width: 200px;
  height: 40px;
  margin-top: 3rem;
  background-color: rgb(207, 163, 194);
  color: white;
  border: none;
  border-radius: 10px;
}

#btn-add-basket:hover {
  width: 200px;
  height: 40px;
  margin-top: 3rem;
  background-color: rgb(243, 230, 239);
  color: rgb(207, 163, 194);
  font-weight: bold;
  border: none;
  border-radius: 10px;
}

/* ------------------------------ CARD TEDDIES BASKET.HTML ----------------------------- */

.Teddies-basket {
  margin-top: 5rem;
}

#Basket-empty {
  font-size: 1.5rem;
  text-align: center;
  color: rgb(194, 155, 182);
}

#template-card_basket {
  display: flex;
  justify-content: space-between;
  max-width: 1000px;
  margin: auto;
  height: auto;
  padding: 1rem;
  border-bottom: 1px solid rgb(219, 219, 219);
}

.photo_basket {
  width: 150px;
  height: 150px;
  object-fit: cover;
}

.bloc-text_basket {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  width: 200px;
}

.title_basket {
  font-size: 1.2rem;
}

.bloc-variable {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 400px;
}

.quantity_basket {
  width: 150px;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0;
}

.price_basket {
  font-size: 1.2rem;
  color: rgb(194, 155, 182);
  margin-bottom: 0;
}

.icon-delete_basket i {
  color: rgb(168, 168, 168);
  font-size: 1.5rem;
}

#total-price p {
  margin-top: 2rem;
  text-align: center;
}

.delete_item {
  background-color: white;
  border: none;
}

#order-form {
  margin-top: 5rem;
}

#order-form p {
  width: 600px;
  margin: auto;
  text-align: center;
  padding: 1.5rem 0 3rem 0;
  border-top: 2px solid rgb(207, 163, 194, 0.5);
}

#orderFormValidity {
  display: flex;
  flex-direction: column;
  width: 500px;
  margin: auto;
}

.form-control {
margin-bottom: 1rem;
}

.button-order {
  width: 200px;
  height: 40px;
  margin-top: 2rem;
  background-color: rgb(207, 163, 194);
  color: white;
  border: none;
  border-radius: 10px;
}

