body {
font-family: 'Raleway', sans-serif;
}

header {
  background-color: rgb(243, 233, 240);
}

.logo {
  height: 70px;
}

a:hover {
  font-weight: 600;
  text-decoration: none;
}

h1 {
  font-family: 'Mali', cursive;
  text-align: center;
  padding-top: 2rem;
}

h2 {
  font-family: 'Mali', cursive;;
  font-size: 1rem;
}

footer {
  background-color: rgb(230, 230, 230);
  padding: 1rem 0;
}

/* ---------- CARD TEDDIES INDEX.HTML ---------- */

.Teddies-card {
  margin: 5rem;
  display: flex;
  justify-content: space-around;
}